/* sfondo #141922
footer #282828
intestazione #080b12
barra di home #abfb2f
colore testo grigino #73757b
sfondo + #a3a3a3
barra di evidenza #fbaf30 */
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid white;
}

/* General */

body{
    width: 100%;
    background-color: #141922;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
main{
    width: calc(100% - 200px);
    overflow-y: auto;
}
h1{
    font-weight: 700;
    font-size: 2vw;
}
p{
    font-weight: 400;
    font-size: 1.2vw;
    color: #73757b;
}
h3{
    font-weight: 500;
    font-size: 1.5vw;
}
/* Corpo della pagina */
.wrapper{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

/* Barra di navigazione Laterale */
aside{
    width: 200px;
    height: 100%;
    background-color: black;
    color: #73757b;
    overflow-y: hidden;
}
aside span{
    font-size: 15px;
}
.nav-aside-top{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow-y: hidden;
}
.logo{
    width: calc(100% - 40px);
    padding: 20px 20px 0;
}
#large{
    width: 100%;
    height: 100%; 
    min-height: 52px;
}
#small{
    width: 30px;
    display: none;
}
.search{
    width: 100%;
    padding-top: 10px;
    line-height: 10px;
    min-height: ;
}
.search-left{
    padding: 0 20px;
    border-left: 1px solid black;
}
.search-left:hover{
    color: white;
    border-left: 1px solid #abfb2f;
    cursor: pointer;
}
.search div img{
    width: 20%;
    vertical-align: middle;
}
.search div span{
    vertical-align: middle;
}
.play{
    padding: 0 20px;
    overflow-y: auto;
}
.play-top{
    padding-bottom: 10px;
} 
.play h3{
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}
.fa-circle-plus{
    color: #73757b;
}
.play-bottom ul{
    list-style-type: none;
    text-decoration: none;
}
.play-bottom ul li{
    font-size: 15px;
    overflow-y: auto;
}
.nav-aside-bottom{
    width: 100%;
    height: 80px;
    font-weight: normal;
    text-align: left;
    padding: 0 20px;
}
.nav-aside-bottom i{
    padding: 2px 3px;
    border: 1px solid #73757b;
    border-radius: 50px;
}
.fa-arrow-down{
    color: #73757b;
}
.nav-aside-bottom hr{
    margin: 10px 0;
}
.fa-user{
    color: white;
}
.nav-aside-bottom h2{
    color: white;
    font-size: large;
    display: inline-block;
}
/* Barra di navigazione Top */
nav.top{
    width: calc(100% - 200px);
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
}
.btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 2px solid white;
    margin-right: 30px;
}
.btn a:hover{
    padding: 6px 25px;
}

/* Menu */
.container{
    padding-top: 90px;
}
nav.choice{
    line-height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav.choice a{
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-right: 20px;
}
.choice-button{
    position: relative;
    display: flex;
    justify-content: center;
}
.choice-button:hover::after{
    position: absolute;
    bottom: 0;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #adff2f;
}
div.recipient{
    padding: 20px;
}
div.title{
    padding-left: 20px;
}
.selection{
    display: flex;
    padding: 20px;
    gap: 10px;
}
.album{
    width: calc((100% - 50px) / 6);
    text-align: center;
}
.album img{
    width: 100%;
}
.album-cover{
    position: relative;
}
.overlayinn{
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
.overlayinn>.fa-circle-play{
    font-size: larger;
}
.album-cover:hover .overlayinn{
    display: flex;
}
.circle{
    border-radius: 50%;
}
/* Fondo della pagina */
.music-bar{
    width: 100%;
    height: 70px;
    background-color: #282828;
    position: fixed;
    display: flex;    
}
.music-bar-aside{
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left-bar, .center-bar, .right-bar{
    flex: 1 1 calc(100% / 3);
}
.left-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left-bar img{
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
}
.center-bar{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.center-bar h3, .center-bar p{
    flex: 1 1 100%;
}
.music-bar-aside>.fa-heart, .music-bar-aside>.fa-folder, .music-bar-aside>.fa-list-ul, .music-bar-aside>.fa-desktop, .music-bar-aside>.fa-volume-high{
    padding: 0 5px;
}
.music-bar-center{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.command>.fa-shuffle, .command>.fa-backward-step, .command>.fa-circle-play, .command>.fa-forward-step, .command>.fa-arrow-rotate-right{
    padding: 0 5px;
}
.command i:hover{
    height: 27px;
    cursor: pointer;
}
.command{
    width: 100%;
    height: 60%;
    line-height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.command i:hover{
    height: 27px;
    cursor: pointer;
}
.time{
    width: 60%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.time span{
    padding: 0 10px;
}
.time-loading{
    position: relative;
    flex: 1 1 100%;
}
.loading{
    width: 100%;
    height: 3px;
    background-color: grey;
    border-radius: 2px;
}
.loading-over{
    width: 10%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}
#loading-button{
    width: 10px;
    height: 10px;
    position: absolute;
    top: -3.5px;
    left: 8%;
    background-color: grey;
    border-radius: 50%;
    display: none;
}
.time-loading:hover #loading-button{
    display: block;
}
#right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.settings{
    flex: 1 1 40%; 
}
.settings i{
    padding-right: 5px;
}
.set-volume{
    flex: 1 1 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fa-volume-high{
    padding-right: 10px;
}
.right-volume{
    position: relative;
    flex: 1 1 100%;
    padding-right: 10px;
}
.volume{
    width: 100%;
    height: 3px;
    background-color: grey;
    border-radius: 2px;
}
.volume-over{
    width: 20%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}
#volume-button{
    width: 10px;
    height: 10px;
    position: absolute;
    top: -3.5px;
    left: 18%;
    background-color: grey;
    border-radius: 50%;
    display: none;
}
.right-volume:hover #volume-button{
    display: block;
}