/* sfondo #141922
footer #282828
intestazione #080b12
barra di home #abfb2f
colore testo grigino #73757b
sfondo + #a3a3a3
barra di evidenza #fbaf30 */
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid white;
}

/* General */
body{
    width: 100%;
    background-color: #141922;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
main{
    width: calc(100% - 200px);
    overflow-y: auto;
}
h1{
    font-weight: 700;
    font-size: 2vw;
}
p{
    font-weight: 400;
    font-size: 1.2vw;
    color: #73757b;
}
h3{
    font-weight: 500;
    font-size: 1.5vw;
}
/* Corpo della pagina */
.wrapper{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

/* Barra di navigazione Laterale */
aside{
    width: 200px;
    height: 100%;
    background-color: black;
    color: #73757b;
}
aside span{
    font-size: 15px;
}
.nav-aside-top{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-flow: column nowrap;
}
.logo{
    width: 100%;
    padding: 20px 20px 0;
}
#large{
    width: 60%;
}
#small{
    width: 30px;
    display: none;
}
.search{
    padding-top: 20px;
    line-height: 10px;
}
.search-left{
    padding: 0 20px;
}
.search-left:hover{
    color: white;
    border-left: 1px solid #abfb2f;
    cursor: pointer;
}
.search div img{
    width: 15%;
    vertical-align: middle;
}
.search div span{
    vertical-align: middle;
}
.play{
    padding: 0 20px;
}
.play-top{
    height: 30%;
    padding-bottom: 10px;
} 
.play h3{
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}
.fa-circle-plus{
    color: #73757b;
}
.play-bottom{
    height: 70%;
}      
.play-bottom ul{
    height: 100%;
    list-style-type: none;
    text-decoration: none;
    padding: 10px 0;
}
.play-bottom ul li{
    font-size: 15px;
    overflow-y: auto;
}
.nav-aside-bottom{
    width: 100%;
    height: 80px;
    font-weight: normal;
    text-align: center;
    padding: 0 20px;
}
.nav-aside-bottom i{
    padding: 2px 3px;
    border: 1px solid #73757b;
    border-radius: 50px;
}
.fa-arrow-down{
    color: #73757b;
}
.nav-aside-bottom hr{
    margin: 10px 0;
}
.fa-user{
    color: white;
}
.nav-aside-bottom h2{
    color: white;
    font-size: large;
    display: inline-block;
}
/* Barra di navigazione Top */
nav.top{
    width: calc(100% - 200px);
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
}
.btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 2px solid white;
    margin-right: 30px;
}

/* Menu */
.container{
    padding-top: 90px;
}
nav.choice{
    width: 75%;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    padding: 10px;
}
nav.choice ul{
    list-style-type: none;
    text-decoration: none;
}
nav.choice ul li{
    display: inline-block;
    font-size: 12px;
}
nav.choice ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-right: 10px;
}
div.recipient{
    padding: 20px;
}
div.title{
    padding-left: 20px;
}
.selection{
    display: flex;
    padding: 20px;
    gap: 10px;
}
div.album{
    width: calc((100% - 50px) / 6);
    text-align: center;
}
div.album img{
    width: 100%;
}
.circle{
    border-radius: 50%;
}
/* Fondo della pagina */
.music-bar{
    width: 100%;
    height: 70px;
    background-color: #282828;
    position: fixed;
    display: flex;    
}
.music-bar-aside{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
#right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-bar, .center-bar, .right-bar{
    width: 33%;
}
.left-bar{
    max-height: 60px;
    max-width: 60px;
}
.left-bar img{
    width: 100%;
    height: 100%;
}
.music-bar-aside>.fa-heart, .music-bar-aside>.fa-folder, .music-bar-aside>.fa-list-ul, .music-bar-aside>.fa-desktop, .music-bar-aside>.fa-volume-high{
    padding: 0 5px;
}
.volume::after{
    content: '';
    width: 40%;
    height: 3px;
    padding-left: 10px;
    background-color: grey;
    border-radius: 2px;
}
.music-bar-center{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.command>.fa-shuffle, .command>.fa-backward-step, .command>.fa-circle-play, .command>.fa-forward-step, .command>.fa-arrow-rotate-right{
    padding: 0 5px;
}
.command{
    width: 100%;
    height: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.command i{
    height: 20px;
}
.time{
    width: 60%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.time span{
    padding: 0 10px;
}
.loading{
    width: 80%;
    height: 3px;
    background-color: grey;
    border-radius: 2px;
}